<footer>
    <div class="copyright">Contact Us</div>
    <section class="herounit-mask">
      <a href="https://www.facebook.com/">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="https://www.twitter.com/">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://www.youtube.com/">
        <i class="fa fa-youtube"></i>
      </a>
      <a href="https://www.skype.com/">
        <i class="fa fa-skype"></i>
      </a>
      <a href="https://www.linkedin.com/">
        <i class="fa fa-linkedin"></i>
      </a>
    </section>
   
  </footer>
